{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente_cadastrar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{{ url_for('static', filename='js/salvar_cliente_cadastrar.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/adicionar_telefone.js') }}" defer></script>
  </head>
  <div class="form-container">
      <form action="/cliente_cadastrar" method="POST" id="meuForm">
          <input type="hidden" name="form_action" value="submit">
          <div class="button-container">
              <button type="submit">
                  <i class="fas fa-save"></i>
              </button>
              <button type="button" onclick="loadPopupSalvar()">
                  <i class="fas fa-sign-out-alt"></i>
              </button>
          </div>
          <div class="form-fields-container">
              <div class="form-fields-left">
                  <div class="form-fields">
                      <label>ID:
                          {% if cliente['id'] %}
                              <input type="text" name="id" value="{{ cliente['id'] }}" readonly>
                          {% else %}
                              <input type="text" name="id" value="{{ next_codigo }}" readonly>
                          {% endif %}
                      </label>
                      <label>Nome:
                          <input type="text" name="nome" value="{{ cliente['nome'] }}" required>
                      </label>
                      <label>Endereco:
                          <input type="text" name="endereco" value="{{ cliente['endereco'] }}" required>
                      </label>
                      <label>Numero:
                          <input type="text" name="numero" value="{{ cliente['numero'] }}" required>
                      </label>
                      <label>Bairro:
                          <input type="text" name="bairro" value="{{ cliente['bairro'] }}" required>
                      </label>
                      <label>Complemento:
                          <input type="text" name="complemento" value="{{ cliente['complemento'] }}" required>
                      </label>
                      <label>Municipio:
                          <input type="text" name="municipio" value="{{ cliente['municipio'] }}" required>
                      </label>
                      <label>Observacao:
                          <input type="text" name="observacao" value="{{ cliente['observacao'] }}" required>
                      </label>
                  </div>
              </div>
              <div class="phone-container" id="phone-container">
                  <h3>Telefones</h3>
                  {% if cliente.telefones %}
                      {% for telefone in cliente.telefones %}
                          <div class="phone-row">
                              <label for="phone-{{ loop.index }}">Telefone {{ loop.index }}:</label>
                              <input type="text" name="telefones" id="phone-{{ loop.index }}" value="{{ telefone }}" 
                                    pattern="^\(\d{2}\)\d{8,9}$" title="Format: (99)999999999 or (99)99999999" 
                                    oninput="formatCellphone(this)" maxlength="13" required>
                          </div>
                      {% endfor %}
                  {% else %}
                      <div class="phone-row">
                          <label for="phone-1">Telefone 1:</label>
                          <input type="text" name="telefones" id="phone-1" placeholder="Digite o telefone" 
                                pattern="^\(\d{2}\)\d{8,9}$" title="Format: (99)999999999 or (99)99999999" 
                                oninput="formatCellphone(this)" maxlength="13" required>
                      </div>
                  {% endif %}
                  
                  <div class="button-container">
                      <button type="button" onclick="addPhoneInput()">
                          <i class="fas fa-plus"></i> Adicionar Telefone
                      </button>
                      <button type="button" onclick="removePhoneInput()">
                          <i class="fas fa-minus"></i> Remover Telefone
                      </button>
                  </div>
              </div>
          </div>
      </form>
  </div>
{% endblock %}
