{% extends 'base.html' %}

{% block title %}Encomenda{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/encomenda.css') }}">
  <script src="{{ url_for('static', filename='js/lancamento_finalizar_encomendas.js') }}" defer></script>
  <!--<script src="{{ url_for('static', filename='js/lancamento_historico_encomendas.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/lancamento_salvar_encomendas.js') }}" defer></script>-->
  <script src="{{ url_for('static', filename='js/encomenda.js') }}" defer></script>
</head>
<body>
    <div class="button-container">
        <form method="post" action="{{ url_for('encomenda_bp.encomenda') }}">
            <button type="submit" name="incluir" value="true" class="btn btn-primary">Incluir</button>
        </form>
        <!--
          Fazer dependencia de qual o status da encomenda
        -->
        <button>Imprimir</button>
        {% if encomenda %}
          <form method="post" class="delete-form" action="{{ url_for('encomenda_bp.delete_item') }}">
            <input type="hidden" name="itens_encomenda_id" id="delete-itens-encomenda-id">
            <input type="hidden" name="id_produto" id="delete-product-id">
            <input type="hidden" name="date" id="delete-date">
            <button type="submit" name="deletar" value="true" class="btn btn-danger">Deletar</button>
          </form>
        {% endif %}
        <button>Estornar</button>
        <button>Relatório</button>
        <button>Historico</button>
    </div>
    <div id="popup-content-lancamento-finalizar"></div>
    <div class="main-grid">
        <!-- First grid (3 sections) -->
        <div class="info-grid">
            <!-- Order Information -->
            <div class="order-info">
                <h3>Informações do Pedido</h3>
                {% if encomenda %}
                  <label>Loja: <span>{{ encomenda[5] }}</span></label>
                  <label>Número Venda: <span>{{ encomenda[11] }}</span></label>
                  <label>Data Criação: <span>{{ encomenda[2] }}</span></label>
                  <label>Hora Criação: <span>{{ encomenda[3] }}</span></label>
                  <label>Situação: <span>{{ encomenda[1] }}</span></label>
                  <label>Data Encomenda: <span>{{ encomenda[12] }}</span></label>
                  <label>Hora Encomenda: <span>{{ encomenda[13] }}</span></label>
                {% endif %}
            </div>

            <!-- Client Information -->
            <div class="client-info" id="client-info">
                <h3>Informações do Cliente</h3>
                {% if cliente %}
                  <label>Código: <span>{{ cliente.dados[0] }}</span></label>
                  <label>Nome: <span>{{ cliente.dados[1] }}</span></label>
                  <label>Telefone:</label>
                      {% for tel in cliente.telefone %}
                          <span>{{ tel[0] }}</span>
                      {% endfor %}
                  <label>Município: <span>{{ cliente.dados[6] }}</span></label>
                  <label>Bairro: <span>{{ cliente.dados[4] }}</span></label>
                  <label>Endereço: <span>{{ cliente.dados[2] }}</span></label>
                  <label>Número: <span>{{ cliente.dados[3] }}</span></label>
                  <label>Complemento: <span>{{ cliente.dados[5] }}</span></label>
                  <label>Observação: <span>{{ cliente.dados[7] }}</span></label>
                {% endif %}
            </div>

            <!-- Products Information -->
            <div class="product-info">
                <h3>Produtos no Pedido</h3>
                <table>
                    <thead>
                        <tr>
                            <!-- Removed Select column -->
                            <th>Code</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Observation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in itens %}
                        <tr class="selectable-row" data-itens-encomenda-id="{{ item.itens_encomenda_id }}" data-id-produto="{{ item.codigo }}" data-date="{{ encomenda[12] }}">
                              <td>{{ item.codigo }}</td>
                              <td>{{ item.descricaoreduzida }}</td>
                              <td>{{ item.quantidade }}</td>
                              <td>R$ {{ item.preco_venda }}</td>
                              <td>R$ {{ item.total }}</td>
                              <td class="observation-cell" data-itens-encomenda-id="{{ item.itens_encomenda_id }}" data-id-produto="{{ item.codigo }}">
                                <span class="observation-text">{{ item.observacao }}</span>
                              </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Second grid (totals and telephone) -->
        <div class="totals-grid">
          {% if not cliente %}
            <!-- Form to create a new encomenda -->
            <div class="telephone-input">
              <form method="post" action="{{ url_for('encomenda_bp.encomenda') }}">
                <label for="cellphone">Cellphone:</label>
                <input type="text" id="cellphone" name="cellphone" required pattern="^\(\d{2}\)\d{8,9}$" title="Format: (99)999999999 or (99)99999999" oninput="formatCellphone()">
                <input type="submit" value="Create Encomenda">
              </form>
            </div>
          {% endif %}

          {% if (encomenda and not session.get('finalizar')) %}
            <!-- Form to add products to an existing encomenda -->
            <div class="telephone-input">
              <h2>Add Products to Encomenda</h2>
              {% if not product_id %}
                <form method="post" action="{{ url_for('encomenda_bp.encomenda', date=encomenda[12], encomenda_id=encomenda[11]) }}">
                    <label for="product_id">Product ID:</label>
                    <input type="number" id="product_id" name="product_id" required>
                    <input type="submit" value="Add Product">
                </form>
              {% else %}
                <form method="post" action="{{ url_for('encomenda_bp.encomenda', date=encomenda[12], encomenda_id=encomenda[11]) }}">
                  {% if tipoembalagem == 'KG' %}
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" step="0.001" required>
                  {% elif tipoembalagem == 'UN' %}
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" required>
                  {% endif %}
                  <input type="submit" value="Add Quantity">
                </form>
              {% endif %}
            </div>
          {% endif %}
          {% if session.get('finalizar') %}
              <div class="ending-input" id="ending-input-form">
                  <h2>Finalizar encomenda</h2>
                  <form method="post" action="{{ url_for('encomenda_bp.encomenda', date=encomenda[12], encomenda_id=session.get('encomenda_id')) }}">
                      <label for="valor_entrega">Valor entrega:</label>
                      <input type="number" id="valor_entrega" step="0.01" name="valor_entrega" value="{{ valor_entrega }}" required>
                      <label for="desconto">Desconto:</label>
                      <input type="number" id="desconto" step="0.01" name="desconto" value="{{ desconto }}" required>
                      <input type="submit" name="finalizar-btn" value="Finalize">
                  </form>
              </div>
          {% endif %}

          <div class="totals-info">
              <label>Subtotal: <span>R$ {{ subtotal }}</span></label>
              <label>Valor Entrega: <span>R$ {{ valor_entrega }}</span></label>
              <label>Desconto: <span>R$ {{ desconto }}</span></label>
              <label>Total: <span>R$ {{ total }}</span></label>
          </div>
        </div>

        <div class="button-grid">
            <div class="popup-content-lancamento-salvar">
                <button onclick="showPopup()">Salvar</button>
            </div>
            <div id="popup-content-lancamento-sair"></div>
            <button onclick="exitOrder()">Sair</button>
        </div>
    </div>
</body>
{% endblock %}
