{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/impressora_cadastrar.css') }}">
    <script src="{{ url_for('static', filename='js/salvar_impressora_cadastrar.js') }}" defer></script>
  </head>
  
    <!-- Ensure the form has an action and method -->
  <form action="/impressora_cadastrar" method="POST" id="meuForm">
    <input type="hidden" name="form_action" value="submit"> <!-- Hidden field -->
    <div class="button-container">
        <input type="submit" value="Salvar">
        <button type="button" onclick="loadPopupSalvar()">Sair</button>
        <div id="popup-container-salvar"></div>
    </div>

    <!-- Client registration form section -->
    <div class="form-container">
        <div class="form-fields">
            <label>ID:
              {% if impressora['id'] %}
                <input type="text" name="id" value="{{ impressora['id'] }}" readonly>
              {% else %}
                <input type="text" name="id" value="{{ next_codigo }}" readonly>
              {% endif %}
            </label>
            <label>Loja:
                <input type="text" name="loja" value="{{ impressora['loja'] }}" required>
            </label>
            <label>Descricao:
                <input type="text" name="descricao" value="{{ impressora['descricao'] }}" required>
            </label>
            <label>Endereco:
                <input type="text" name="endereco" value="{{ impressora['endereco'] }}" required>
            </label>
            <label>Tipo Impressora:
                <input type="text" name="tipo_impressora" value="{{ impressora['tipo_impressora'] }}" required>
            </label>
            <label>Modelo Impressora:
                <input type="text" name="modelo_impressora" value="{{ impressora['modelo_impressora'] }}" required>
            </label>
            <label>Porta:
                <input type="text" name="porta" value="{{ impressora['porta'] }}" required>
            </label>
            <label>Configuracao:
                <input type="text" name="configuracao" value="{{ impressora['configuracao'] }}">
            </label>
            <label>Utiliza Guilhotina:
                <input type="text" name="utiliza_guilhotina" value="{{ impressora['utiliza_guilhotina'] }}">
            </label>
        </div>
    </div>
    <div class="button-container">
      <input type="submit" value="Salvar"></input>
      <button type="button" onclick="loadPopupSalvar()">Sair</button>
    </div>
  </form>
{% endblock %}
