{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pesquisar_impressora.css') }}">
  <script src="{{ url_for('static', filename='js/pesquisar_impressora.js') }}"></script>
</head>
    <div class="button-container">
      <button onclick="window.location.href='{{ url_for('impressora_cadastrar_bp.impressora_cadastrar') }}'">Incluir</button>
      <button type="submit" onclick="confirmDelete()">Deletar</button>
      <button type="submit" onclick="redirectToEdit()">Editar</button>
    </div>

    <div class="button-container">
      <form method="POST" action="{{ url_for('pesquisar_impressora_bp.pesquisar_impressora') }}">
        <label>ID <input type="text" name="id"></label>
        <label>Descricao <input type="text" name="descricao"></label>
        <label>Endereco (IP)<input type="text" name="endereco"></label>
        <label>Tipo Impressora<input type="text" name="situacao"></label>
        <label>Modelo Impressora<input type="text" name="loja"></label>
        <label>Porta<input type="text" name="loja"></label>
        <label>Configuracao <input type="text" name="loja"></label>
        <label>Utiliza Guilhotina <input type="text" name="loja"></label>
        <button type="submit">Pesquisar</button>
      </form>
    </div>

    <table class="results-table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Codigo</th>
                <th>Loja</th>
                <th>Descricao</th>
                <th>Endereco (IP)</th>
                <th>Tipo Impressao</th>
                <th>Modelo Impressora</th>
                <th>Porta</th>
                <th>Configuracao</th>
                <th>Utiliza Guilhotina</th>
            </tr>
        </thead>
        <tbody>
            {% for impressora in impressoras %}
                <tr>
                    <td><input type="radio" name="selected-impressora" value="{{ impressora[0] }}" class="impressora-radio"></td>
                    <td>{{ impressora[0] }}</td>
                    <td>{{ impressora[1] }}</td>
                    <td>{{ impressora[2] }}</td>
                    <td>{{ impressora[3] }}</td>
                    <td>{{ impressora[4] }}</td>
                    <td>{{ impressora[5] }}</td>
                    <td>{{ impressora[6] }}</td>
                    <td>{{ impressora[7] }}</td>
                    <td>{{ impressora[8] }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Nenhuma impressora encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
