{% extends 'menu.html' %}

{% block title %}Cadastrar Impressora{% endblock %}

{% block content %}
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/impressora_cadastrar.css') }}">
    <script src="{{ url_for('static', filename='js/impressora_cadastrar.js') }}" defer></script>
  </head>
  <div class="form-wrapper">
    <form id="meu_form" method="POST">
      <input type="hidden" name="form_action" value="submit">
      <div class="button-container">
          <div class="tooltip-container">
              <button type="button" onclick="submeter_formulario()">
                  <i class="fas fa-save"></i>
              </button>
              <span class="tooltip">Salvar</span>
          </div>
          <div class="tooltip-container">
              <button type="button" onclick="carregar_popup_cancelar()">
                  <i class="fas fa-sign-out-alt"></i>
              </button>
              <span class="tooltip">Sair</span>
          </div>
      </div>
      <div id="popup-cancelar-impressora"></div>
      <div id="general-error" class="error-message" style="color: red; display: none;"></div>
      <div class="form-block">
        <div class="form-field">
          <label for="id">Código:</label>
          <input type="text" name="id" value="{{ impressora['id'] if impressora['id'] else next_codigo }}" readonly>
        </div>
        <div class="form-field">
          <label for="loja">Loja:</label>
          <select name="loja" id="loja" required>
            <option value="2" {% if impressora['loja'] == 'Pão da Primavera' %}selected{% endif %}>Pão da Primavera</option>
            <option value="1" {% if impressora['loja'] == 'Pão do Cambuí' %}selected{% endif %}>Pão do Cambuí</option>
          </select>
        </div>
        <div class="form-field">
          <label for="utiliza_guilhotina">Utiliza Guilhotina:</label>
          <select name="utiliza_guilhotina" id="utiliza_guilhotina">
            <option value="True" {% if impressora['utiliza_guilhotina'] == 'True' %}selected{% endif %}>Sim</option>
            <option value="False" {% if impressora['utiliza_guilhotina'] == 'False' %}selected{% endif %}>Não</option>
          </select>
        </div>
      </div>
      <div class="form-block">
        <div class="form-field">
          <label for="tipo_impressora">Tipo de Impressora:</label>
          <select name="tipo_impressora" id="tipo_impressora" required onchange="atualizarCampos()">
            <option value="REDE" {% if impressora['tipo_impressora'] == 'REDE' %}selected{% endif %}>REDE</option>
            <option value="LOCAL" {% if impressora['tipo_impressora'] == 'LOCAL' %}selected{% endif %}>LOCAL</option>
          </select>
        </div>
        <div class="form-field">
          <label for="modelo_impressora">Modelo da Impressora:</label>
          <select name="modelo_impressora" id="tipo_impressora" required onchange="atualizarCampos()">
            <option value="BEMATECH" {% if impressora['modelo_impressora'] == 'BEMATECH' %}selected{% endif %}>BEMATECH</option>
            <option value="EPSON" {% if impressora['modelo_impressora'] == 'EPSON' %}selected{% endif %}>EPSON</option>
          </select>
        </div>
      </div>
      <div id="rede-fields" class="form-block" style="display: none;">
        <div class="form-block">
          <div class="form-field">
            <label for="endereco">Endereço IP ou Hostname:</label>
            <input type="text" name="endereco" id="endereco" value="{{ impressora['endereco'] if impressora else '' }}" required>
          </div>
        </div>
        <div class="form-block">
          <div class="form-field">
            <label for="porta">Porta:</label>
            <input type="text" value="{{ impressora['porta'] }}" name="porta" id="porta" required minlength="1" maxlength="5" pattern="^\d{1,5}$" title="Somente números de 0 a 65535 são permitidos">
          </div>
        </div>
      </div>
      <div id="local-fields" class="form-block" style="display: none;">
        <div class="form-block">
          <div class="form-field">
            <label for="porta_serial">Porta Serial:</label>
                <select name="porta_serial" id="porta_serial">
                    {% for porta in ports %}
                        <option value="{{ porta }}">{{ porta }}</option>
                    {% endfor %}
                </select>
          </div>
        </div>
        <div class="form-block">
          <div class="form-field">
            <label for="modelo_impressora">Modelo de Impressora:</label>
            <select name="modelo_impressora" id="modelo_impressora" required>
              <option value="BEMATECH">BEMATECH</option>
              <option value="EPSON">EPSON</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-block">
        <div class="form-field">
          <label for="descricao">Descrição:</label>
          <input type="text" name="descricao" id="descricao" value="{{ impressora['descricao'] }}" required>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
