{% extends 'menu.html' %}

{% block title %}Pesquisar Cliente{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pesquisar_cliente.css') }}">
    <script src="{{ url_for('static', filename='js/pesquisar_cliente.js') }}" defer></script>
</head>
<body>
  <div class="button-container">
      <button id="pesquisarButton" class="icon-button">
          <i class="fas fa-search"></i>
          <span class="tooltip">Pesquisar</span>
      </button>
      <button onclick="window.location.href='{{ url_for('cliente_cadastrar_bp.cliente_cadastrar') }}'" class="icon-button">
          <i class="fas fa-plus"></i>
          <span class="tooltip">Incluir</span>
      </button>
      <button id="deleteButton" type="button" class="icon-button">
          <i class="fas fa-trash"></i>
          <span class="tooltip">Deletar</span>
      </button>
      <button id="editButton" type="button" class="icon-button">
          <i class="fas fa-edit"></i>
          <span class="tooltip">Editar</span>
      </button>
  </div>
  <div id="error-message-container"></div>
  <div class="input-container">
      <form id="searchForm" method="POST" action="{{ url_for('pesquisar_cliente_bp.pesquisar_cliente') }}" class="search-form">
          <label>
            Código:
            <input type="text" id="id" name="id" pattern="^[1-9][0-9]*$" title="O Código deve ser um número positivo maior ou igual a 1." required>
          </label>
          <label>
            Nome:
            <input type="text" id="nome" name="nome" pattern="^[A-Za-zÀ-ÿ\s]*$" title="O campo Nome é obrigatório e deve conter apenas letras." required>
          </label>
          <label>Telefone 
            <input type="text" id="telefone" name="telefone" pattern="^\(\d{2}\)\d{8,9}$" title="Formato: (99)999999999 ou (99)99999999" 
            oninput="formatCellphone(this)" maxlength="13" required>
          </label>
          <label>
            Endereço:
            <input type="text" id="endereco" name="endereco" pattern="^[A-Za-zÀ-ÿ0-9\s,.-]*$" title="Endereço contém caracteres inválidos." required>
          </label>
      </form>
  </div>
  <div class="table-container" id="clientTableContainer" style="display: none;">
      <table class="results-table">
          <thead>
              <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Endereço</th>
                  <th>Número</th>
                  <th>Bairro</th>
                  <th>Complemento</th>
                  <th>Observação</th>
                  <th>Telefones</th>
              </tr>
          </thead>
          <tbody>
              {% for cliente in clientes %}
                  <tr class="client-row">
                      <td>{{ cliente.id }}</td>
                      <td>{{ cliente.nome }}</td>
                      <td>{{ cliente.endereco }}</td>
                      <td>{{ cliente.numero }}</td>
                      <td>{{ cliente.bairro }}</td>
                      <td>{{ cliente.complemento }}</td>
                      <td>{{ cliente.observacao }}</td>
                      <td>
                          <div class="telefone-container">
                              <span>{{ cliente.telefones | join(', ') }}</span>
                          </div>
                      </td>
                  </tr>
              {% else %}
                  <tr>
                      <td colspan="8">Nenhum cliente encontrado.</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</body>
{% endblock %}
