{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/pesquisar_cliente.css') }}">
      <script src="{{ url_for('static', filename='js/pesquisar_cliente.js') }}"></script>
    </head>

    <div class="button-container">
      <button onclick="window.location.href='{{ url_for('cliente_cadastrar_bp.cliente_cadastrar') }}'">Incluir</button>
      <button type="submit" onclick="confirmDelete()">Deletar</button>
      <button type="submit" onclick="redirectToEdit()">Editar</button>
    </div>

    <div class="button-container">
        <form method="POST" action="{{ url_for('pesquisar_cliente_bp.pesquisar_cliente') }}" class="input-container">
            <button type="submit">Pesquisar</button>
            <label>Codigo <input type="text" name="id"></label>
            <label>Nome <input type="text" name="nome"></label>
            <label>Telefone <input type="text" name="telefone"></label>
            <label>Municipio <input type="text" name="municipio"></label>
            <label>Endereco <input type="text" name="endereco"></label>
        </form>
    </div>
    <div class="table-container">
      <table class="results-table">
          <thead>
              <tr>
                  <th>Select</th>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Endereço</th>
                  <th>Número</th>
                  <th>Bairro</th>
                  <th>Complemento</th>
                  <th>Município</th>
                  <th>Observação</th>
                  <th>Telefones</th>
              </tr>
          </thead>
          <tbody>
              {% for cliente in clientes %}
                  <tr>
                      <td><input type="radio" name="selected-client" value="{{ cliente.id }}" class="client-radio"></td>
                      <td>{{ cliente.id }}</td>
                      <td>{{ cliente.nome }}</td>
                      <td>{{ cliente.endereco }}</td>
                      <td>{{ cliente.numero }}</td>
                      <td>{{ cliente.bairro }}</td>
                      <td>{{ cliente.complemento }}</td>
                      <td>{{ cliente.municipio }}</td>
                      <td>{{ cliente.observacao }}</td>
                      <td>{{ cliente.telefones | join(', ') }}</td>
                  </tr>
              {% else %}
                  <tr>
                      <td colspan="10">Nenhum cliente encontrado.</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
{% endblock %}
