<!-- popup.html -->
<div id="popup" style="display: none;">
  <div class="popup-content-impressora">
    <span class="close-button" onclick="closePopupConfigurar()">×</span>
    <h2>Select Printer</h2>

    <form id="printerForm">
      <label for="printerSelect">Select Printer:</label>
      <select id="printerSelect" name="id_impressora">
        <!-- Options will be populated dynamically -->
      </select>
      <button type="submit">Select Printer</button>
    </form>
  </div>
</div>

<style>
  #popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .popup-content-impressora {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
</style>
