<!-- pp_cancelar_cliente.html -->
<link rel="stylesheet" href="/static/css/popup.css">
<div id="popup-container-cancelar-display" style="display: none;">
	<div class="popup-container-cancelar">
	    <span class="botao-fechar" onclick="fechar_popup()">×</span>
	    <h2>Confirmar ação</h2>
	    <p>Deseja salvar as alterações ou cancelar?</p>
	    <div class="popup-buttons-cancelar">
        <button id="botao-salvar">Salvar</button>
        <button id="botao-cancelar">Cancelar</button>
      </div>
	</div>
</div>
